iss.flow
[{"id":"685c5973.ca50dc","type":"template","z":"fcf487c3.013858","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":920,"y":580,"wires":[["75dcae1d.f3417"]]},{"id":"1d845a20.764fea","type":"http in","z":"fcf487c3.013858","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":703.5,"y":579.25,"wires":[["685c5973.ca50dc"]]},{"id":"75dcae1d.f3417","type":"http response","z":"fcf487c3.013858","name":"","statusCode":"","headers":{},"x":1130,"y":580,"wires":[]},{"id":"6fd4142c.00be2c","type":"http request","z":"fcf487c3.013858","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":890,"y":660,"wires":[["c7a4e7a5.bac2b8","1e452cb.600bbd3","c269bf6c.702fd","71d846e1.cac11c"]]},{"id":"c7a4e7a5.bac2b8","type":"debug","z":"fcf487c3.013858","name":"IssiPos","active":false,"console":"false","complete":"payload","x":880,"y":620,"wires":[]},{"id":"e90d9b70.583748","type":"inject","z":"fcf487c3.013858","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":710,"y":660,"wires":[["6fd4142c.00be2c"]]},{"id":"81de2149.a80d8","type":"ui_template","z":"fcf487c3.013858","group":"adf75ec9.049dc","name":"map","order":0,"width":"15","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1130,"y":540,"wires":[[]]},{"id":"1e452cb.600bbd3","type":"function","z":"fcf487c3.013858","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":680,"wires":[["8cce23c1.19f788","568ff15d.ab4aa8"]]},{"id":"8cce23c1.19f788","type":"ui_text","z":"fcf487c3.013858","group":"b1c199a6.e7f1c8","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":1320,"y":660,"wires":[]},{"id":"568ff15d.ab4aa8","type":"ui_text","z":"fcf487c3.013858","group":"b1c199a6.e7f1c8","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":1320,"y":700,"wires":[]},{"id":"56ff8418.962454","type":"ui_gauge","z":"fcf487c3.013858","name":"","group":"c5bc5758.bf0b98","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1850,"y":1240,"wires":[]},{"id":"31ed9fd0.b732e","type":"ui_gauge","z":"fcf487c3.013858","name":"","group":"c5bc5758.bf0b98","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1850,"y":1200,"wires":[]},{"id":"14850db8.fc071a","type":"ibmiot in","z":"fcf487c3.013858","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":1330,"y":1200,"wires":[["11503dc.dbed1c2","e5b97b9b.47a858","1da777e3.adc754","6196d215.1050d4","10c7941f.c616f4","848b84e8.e14d3"]]},{"id":"71d846e1.cac11c","type":"function","z":"fcf487c3.013858","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":840,"wires":[["70bffea6.d64758","d3bce6b9.790b28","eb18da2a.901be8"]]},{"id":"75b8103e.d696c","type":"e-mail","z":"fcf487c3.013858","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourmail@gmail.com , mvk4ibm@gmail.com","dname":"","x":1830,"y":840,"wires":[]},{"id":"b1b3bf0a.ead35","type":"function","z":"fcf487c3.013858","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":1490,"y":840,"wires":[["75b8103e.d696c","cfadd904.2d9af8"]]},{"id":"5db6608a.bd37cc","type":"inject","z":"fcf487c3.013858","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":1490,"y":900,"wires":[["b1b3bf0a.ead35"]]},{"id":"cfadd904.2d9af8","type":"debug","z":"fcf487c3.013858","name":"email","active":false,"console":"false","complete":"true","x":1710,"y":900,"wires":[]},{"id":"9fde246c.296e88","type":"function","z":"fcf487c3.013858","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1360,"wires":[[]]},{"id":"b1f37152.4ea4b","type":"delay","z":"fcf487c3.013858","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":1000,"wires":[["d7c9557b.275bb8"]]},{"id":"b8d2ba2b.6626b8","type":"ibmiot out","z":"fcf487c3.013858","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":1250,"y":1000,"wires":[]},{"id":"8a47017b.9f541","type":"comment","z":"fcf487c3.013858","name":"Check the Code below","info":"","x":800,"y":800,"wires":[]},{"id":"e4775315.3d843","type":"comment","z":"fcf487c3.013858","name":"IssWebPage","info":"","x":887.2222222222222,"y":537.5,"wires":[]},{"id":"4b49675e.0317a","type":"comment","z":"fcf487c3.013858","name":"#2 Use Your GMAIL account","info":"","x":1780,"y":800,"wires":[]},{"id":"c4011124.6e03f8","type":"inject","z":"fcf487c3.013858","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":720,"y":1040,"wires":[["d7c9557b.275bb8"]]},{"id":"1a9cd06e.d38954","type":"comment","z":"fcf487c3.013858","name":"#1 Adjust the candle number","info":"","x":1520,"y":940,"wires":[]},{"id":"f70bc09a.c5f2b","type":"comment","z":"fcf487c3.013858","name":"#1 Adjust the candle number","info":"","x":1340,"y":1160,"wires":[]},{"id":"11503dc.dbed1c2","type":"debug","z":"fcf487c3.013858","name":"InComing","active":false,"console":"false","complete":"payload","x":1320,"y":1260,"wires":[]},{"id":"e5b97b9b.47a858","type":"function","z":"fcf487c3.013858","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1650,"y":1160,"wires":[["1400ee92.c659f1"]]},{"id":"1da777e3.adc754","type":"function","z":"fcf487c3.013858","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1200,"wires":[["31ed9fd0.b732e"]]},{"id":"6196d215.1050d4","type":"function","z":"fcf487c3.013858","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1240,"wires":[["56ff8418.962454"]]},{"id":"1400ee92.c659f1","type":"ui_gauge","z":"fcf487c3.013858","name":"","group":"c5bc5758.bf0b98","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1850,"y":1160,"wires":[]},{"id":"6c8244f7.b90acc","type":"function","z":"fcf487c3.013858","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":920,"wires":[["b8d2ba2b.6626b8","9313e81f.c4cbb"]]},{"id":"2bcd85d3.47781e","type":"function","z":"fcf487c3.013858","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":980,"wires":[["b8d2ba2b.6626b8"]]},{"id":"296f2b9a.cd9498","type":"function","z":"fcf487c3.013858","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1120,"wires":[["b8d2ba2b.6626b8"]]},{"id":"a51b762d.a20c58","type":"inject","z":"fcf487c3.013858","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":720,"y":1080,"wires":[["296f2b9a.cd9498"]]},{"id":"d7c9557b.275bb8","type":"function","z":"fcf487c3.013858","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1020,"wires":[["b8d2ba2b.6626b8"]]},{"id":"a80fee56.c6a648","type":"comment","z":"fcf487c3.013858","name":"#3 Check email text","info":"","x":1470,"y":800,"wires":[]},{"id":"70bffea6.d64758","type":"switch","z":"fcf487c3.013858","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":980,"y":840,"wires":[["b1f37152.4ea4b","1da8c31a.5529fd","2bcd85d3.47781e","1f7fa3cd.6c5ef8"],["6c8244f7.b90acc"]]},{"id":"1da8c31a.5529fd","type":"delay","z":"fcf487c3.013858","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1220,"y":840,"wires":[["b1b3bf0a.ead35"]]},{"id":"9313e81f.c4cbb","type":"debug","z":"fcf487c3.013858","name":"Not in area","active":true,"console":"false","complete":"true","x":1250,"y":920,"wires":[]},{"id":"d3bce6b9.790b28","type":"debug","z":"fcf487c3.013858","name":"Check","active":false,"console":"false","complete":"payload","x":770,"y":900,"wires":[]},{"id":"776da954.e170e","type":"ui_text","z":"fcf487c3.013858","group":"b1c199a6.e7f1c8","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":1320,"y":760,"wires":[]},{"id":"eb18da2a.901be8","type":"function","z":"fcf487c3.013858","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":760,"wires":[["776da954.e170e"]]},{"id":"99fe90cd.e7c4","type":"function","z":"fcf487c3.013858","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1240,"wires":[["b8d2ba2b.6626b8"]]},{"id":"82b38f8e.5f9e4","type":"ui_button","z":"fcf487c3.013858","name":"","group":"b1c199a6.e7f1c8","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":736.875,"y":1280.625,"wires":[["99fe90cd.e7c4"]]},{"id":"1f7fa3cd.6c5ef8","type":"debug","z":"fcf487c3.013858","name":"In Area","active":true,"console":"false","complete":"true","x":1120,"y":800,"wires":[]},{"id":"61cb6e8f.3abeb","type":"comment","z":"fcf487c3.013858","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":690,"y":1500,"wires":[]},{"id":"10c7941f.c616f4","type":"function","z":"fcf487c3.013858","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1660,"y":1100,"wires":[["83826fc4.679ba"]]},{"id":"83826fc4.679ba","type":"ui_text","z":"fcf487c3.013858","group":"c5bc5758.bf0b98","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1860,"y":1100,"wires":[]},{"id":"c269bf6c.702fd","type":"function","z":"fcf487c3.013858","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":640,"wires":[["b5ceb53b.f8c4d8","9a2c5fbd.54f9e"]]},{"id":"848b84e8.e14d3","type":"function","z":"fcf487c3.013858","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1650,"y":1060,"wires":[["da5d8bee.596db8"]]},{"id":"da5d8bee.596db8","type":"ui_text","z":"fcf487c3.013858","group":"c5bc5758.bf0b98","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1860,"y":1060,"wires":[]},{"id":"2deabe72.f6b806","type":"ui_button","z":"fcf487c3.013858","name":"","group":"b1c199a6.e7f1c8","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":730,"y":1180,"wires":[[]]},{"id":"b5ceb53b.f8c4d8","type":"function","z":"fcf487c3.013858","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":580,"wires":[["81ece58b.ac1ad8","5796044c.3f84a4"]]},{"id":"81ece58b.ac1ad8","type":"ui_text","z":"fcf487c3.013858","group":"b1c199a6.e7f1c8","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":580,"wires":[]},{"id":"9a2c5fbd.54f9e","type":"ui_chart","z":"fcf487c3.013858","name":"","group":"b1c199a6.e7f1c8","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1327.2222222222221,"y":623.8888888888889,"wires":[[],[]]},{"id":"91927d61.30f778","type":"ui_text","z":"fcf487c3.013858","group":"b1c199a6.e7f1c8","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":540,"wires":[]},{"id":"5796044c.3f84a4","type":"function","z":"fcf487c3.013858","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = \"???\"\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":540,"wires":[["91927d61.30f778"]]},{"id":"adf75ec9.049dc","type":"ui_group","z":"","name":"ISS Area","tab":"679cfae6.7d4174","order":1,"disp":true,"width":"12"},{"id":"b1c199a6.e7f1c8","type":"ui_group","z":"","name":"ISS Infos","tab":"679cfae6.7d4174","order":2,"disp":true,"width":"6"},{"id":"c5bc5758.bf0b98","type":"ui_group","z":"","name":"FromPI","tab":"679cfae6.7d4174","order":3,"disp":true,"width":"6"},{"id":"679cfae6.7d4174","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
